
<h1>Create a Team and Heroes!</h1>
Team Name: <%= @team.name %>
Team Motto: <%= @team.motto %>
<h2>Hero 1</h2><br>
Hero Name: <%= @heroes[0].name %>
Hero Power: <%= @heroes[0].power %>
Hero Biography: <%= @heroes[0].bio %>
<h2>Hero 2</h2><br>
Hero Name: <%= @heroes[1].name %>
Hero Power: <%= @heroes[1].power %>
Hero Biography: <%= @heroes[1].bio %>
<h2>Hero 3</h2><br>
Hero Name: <%= @heroes[2].name %>
Hero Power: <%= @heroes[2].power %>
Hero Biography: <%= @heroes[2].bio %>
