
<h1>Team</h1>
<div class="team">
  <p>Team Name: <%= "#{@team.name}" %></p>
  <p>Team Motto: <%= "#{@team.motto}" %></p>      
</div>

<h1>Heroes</h1>
<% @heroes.each.with_index do |hero, i| %>
  <div class="hero">
    <h2>Hero <%= "#{i + 1}" %></h2>
    <p>Hero Name: <%= hero.name %></p>
    <p>Hero Power: <%= hero.power %></p>
    <p>Hero Biography: <%= hero.biography %></p>
  </div>
<% end %>