<h1>Display your Team here</h1>
  <h3>Team <%= @team.name %></h3><br>
  <h4>Team Motto: <%= @team.motto %></h4><br>

<h2>Display your heroes here</h2>

 <p>Hero Name: <%= @hero1.name %></p>
 <p>Hero power: <%= @hero1.power %></p>
 <p>Hero biography: <%= @hero1.bio %></p>


 <p>Hero Name: <%= @hero2.name %></p>
 <p>Hero power: <%= @hero2.power %></p>
 <p>Hero biography: <%= @hero2.bio %></p>

 <p>Hero Name: <%= @hero3.name %></p>
 <p>Hero power: <%= @hero3.power %></p>
 <p>Hero biography: <%= @hero3.bio %></p>


