<h1><%= @team[:name] %></h1>
<p>Team Motto: <%= @team[:motto] %></p>

<% @team[:members].each do |member| %>
  
  <br>
  <p>Hero Name: <%= member[:name] %></p>
  <p>Hero power: <%= member[:power] %></p>
  <p>Hero biography: <%= member[:bio] %></p>
  <br>

<% end %>