<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Team Form</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="POST">
      <label for="team[name]">Team Name: </label>
      <input type="text" name="team[name]" id="team[name]"><br>
      <label for="team[motto]">Team Motto: </label>
      <input type="text" name="team[motto]" id="team[motto]"><br>

      <% 3.times do |i| %>
        <% i += 1 %>
        <h2>Hero <%= i.to_s %></h2>
        <label for="<%= "member#{i}_name" %>">Hero's Name: </label>
        <input type="text" name="team[members][][name]" id="<%= "member#{i}_name" %>"><br>
        <label for="<%= "member#{i}_power" %>">Hero's Power: </label>
        <input type="text" name="team[members][][power]" id="<%= "member#{i}_power" %>"><br>
        <label for="<%= "member#{i}_bio" %>">Hero's Biography: </label>
        <input type="text" name="team[members][][bio]" id="<%= "member#{i}_bio" %>"><br>
      <% end %>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
