<!DOCTYPE html>
<html>
<head>
  <title>show heroes, team</title>
</head>
<body>
  <h1><%= @team.name %></h1>
  <h3>Team Motto: <%= @team.motto %></h3>
  
  <% Hero.all.each do |instance| %>
    <h3>Hero Name: <%= instance.name %></h3>
    <p>Hero power: <%= instance.power %></p>
    <p>Hero biography: <%= instance.bio %></p>
  </br>
  <% end %>


</body>
</html>