<p> <%= @team.name %> </p>
<p> <%= @team.motto %> </p>

  

<h3>Hero 1</h3>
<p>Hero's Name: <%= @hero_name_1 %> </p>
<p>Hero's Power: <%= @hero_power_1 %> </p>
<p>Hero's Biography: <%= @hero_bio_1 %> </p>

<h3>Hero 2</h3>
<p>Hero's Name: <%= @hero_name_2 %> </p>
<p>Hero's Power: <%= @hero_power_2 %> </p>
<p>Hero's Biography: <%= @hero_bio_2 %> </p>

<h3>Hero 3</h3>
<p>Hero's Name: <%= @hero_name_3 %> </p>
<p>Hero's Power: <%= @hero_power_3 %> </p>
<p>Hero's Biography: <%= @hero_bio_3 %> </p>