<html>
 <head>
   <title></title>
 </head>
 <body>
     <h1><%= @team_name %></h1><br>
     <h2>Team Motto: <%= @team_motto %></h2>
     <% @members.each do |member| %>
       <h2>Hero Name: <%= member["name"] %></h2>
       <div>
       Hero power: <%= member["power"] %><br>
        Hero biography: <%= member["bio"] %>
       </div>
       <% end %>
 </body>
 </html>
