<h1>Create a Team and Heroes!</h1>

<form action='/teams' method="POST">
    <p>
        <label for="team_name">Team Name:</label>
        <input type="text" name="team[name]" id="team_name" />
    <p>

    <p>
        <label for="team_motto">Team Motto:</label>
        <input type="text" name="team[motto]" id="team_motto" />
    </p>

    <% 3.times.with_index(1) do |n, hr_number| %>

        <h1>Hero <%= hr_number %></h2>
        
        <p>
            <label for="member<%= hr_number %>_name">Hero's Name:</label>
            <input type="text" name="team[members][][name]" id="member<%= hr_number %>_name" />
        </p>

        <p>
            <label for="member<%= hr_number %>_power">Hero's Power: </label>
            <input type="text" name="team[members][][power]" id="member<%= hr_number %>_power" />
        </p>

        <p>
            <label for="member<%= hr_number %>_bio">Hero's Biography:</label>
            <input type="text" name="team[members][][bio]" id="member<%= hr_number %>_bio" />
        </p>
    <% end %>
</form>
