<h1>Superhero Name and Motto</h1>

  <li>Team name: <%= @hero.name %></li>
  <li>Team Motto: <%= @hero.motto %></li>


<h2>First Member</h2>

  <li>Hero Name: <%= @member1.name %></li>
  <li>Hero Biography: <%= @member1.bio %></li>
  <li>Hero Power: <%= @member1.power %></li>

<h2>Second Member</h2>

  <li>Hero Name: <%= @member2.name %></li>
  <li>Hero Biography: <%= @member2.bio %></li>
  <li>Hero Power: <%= @member2.power %></li>

<h2>Third Member</h2>

  <li>Hero Name: <%= @member3.name %></li>
  <li>Hero Biography: <%= @member3.bio %></li>
  <li>Hero Power: <%= @member3.power %></li>
