
<h1><%=@team.name%></h1>
<h2>Team Motto: <%=@team.motto%></h2>

<h2>Hero Name: <%=@hero1.name%></h2>
<ul>
  <li><h4>Hero Power: <%=@hero1.power%></h4></li>
  <li><h4>Hero Biography: <%=@hero1.bio%></h4></li>
</ul>

<h2>Hero Name: <%=@hero2.name%></h2>
<ul>
  <li><h4>Hero Power: <%=@hero2.power%></h4></li>
  <li><h4>Hero Biography: <%=@hero2.bio%></h4></li>
</ul>

<h2>Hero Name: <%=@hero3.name%></h2>
<ul>
  <li><h4>Hero Power: <%=@hero3.power%></h4></li>
  <li><h4>Hero Biography: <%=@hero3.bio%></h4></li>
</ul>
