<h1>Team Information</h1>
  <h2>Team Name: <%=@team_name%></h2>
  <h2>Team Motto: <%=@team_motto%></h2>
  <h2>Hero Name: <%=@super_heros[0].name%></p>
    <h4>Hero power: <%=@super_heros[0].power%></h4>
    <h4>Hero biography: <%=@super_heros[0].biography%></h4>
  <h2>Hero Name: <%=@super_heros[1].name%></h4>
    <h4>Hero power: <%=@super_heros[1].power%></h4>
    <h4>Hero biography: <%=@super_heros[1].biography%></h4>
  <h2>Hero Name: <%=@super_heros[2].name%></h4>
    <h4>Hero power: <%=@super_heros[2].power%></h4>
    <h4>Hero biography: <%=@super_heros[2].biography%></h4>
