<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="hero">
      <h1>Team Name: <%= @team.name %></h1>
      <h2>Team Motto: <%= @team.motto %></h2>
      <% @members.each do |member| %>
        <h1>Hero Name: <%= member.name %></h1>
        <h3>Hero Power: <%= member.power %></h3>
        <h3>Hero Biography: <%= member.biography %></h3>
      <% end %>
    </div>
  </body>
</html>
