<h1><%= @team.name %></h1>

<h2>Team Motto: <%= @team.motto %></h2>

<% @heros.each do |hero| %>
    <h2>Hero Name: <%= hero[:name] %><br></h2>
    Hero Power: <%= hero[:power] %><br>
    Hero Biography: <%= hero[:bio] %><br>
<% end %>
