<h1><%=@team.name%></h1></br>
<h2>Team Motto: <%=@team.motto%></h2></br>
<h3>Hero Name: <%=@members.first.name%></h3></br>
<h4>Hero Power: <%=@members.first.power%></h4></br>
<h4>Hero Biography: <%=@members.first.biography%></h4></br>
<h3>Hero Name: <%=@members[1].name%></h3></br>
<h4>Hero Power: <%=@members[1].power%></h4></br>
<h4>Hero Biography: <%=@members[1].biography%></h4></br>
<h3>Hero Name: <%=@members.last.name%></h3></br>
<h4>Hero Power: <%=@members.last.power%></h4></br>
<h4>Hero Biography: <%=@members.last.biography%></h4></br>
