<form action="/team" method="POST">
  <h1>Create a Team and Heroes!</h1>

  <label for="team_name">Name: </label></br>
  <input type="text" name="team[name]" id="team_name"></br>

  <label for="team_motto">Motto: </label></br>
  <input type="text" name="team[motto]" id="team_motto"></br>

  <%(1..3).each do |i|%>
    <h2><%="Hero #{i}"%></h2>
      <label for=<%="member#{i}_name"%>>Name: </label></br>
      <input type="text" name="team[members][][name]" id=<%="member#{i}_name"%>></br>

      <label for=<%="member#{i}_power"%>>Power: </label></br>
      <input type="text" name="team[members][][power]" id=<%="member#{i}_power"%>></br>

      <label for=<%="member#{i}_bio"%>>Bio: </label></br>
      <input type="text" name="team[members][][bio]" id=<%="member#{i}_bio"%>></br>
  <%end%>
  <button type="submit" name="button" id="submit">Submit</button>
</form>
