<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1><%= @team[:name]%></h1>
    <h2>Team Motto: <%= @team[:motto]%></h2>

    <h2>Hero Name: <%= @team[:heroes][0][:name]%></h2>
    <p>Hero Power: <%= @team[:heroes][0][:power]%><br>Hero Biography: <%= @team[:heroes][0][:biography]%></p>

    <h2>Hero Name: <%= @team[:heroes][1][:name]%></h2>
    <p>Hero Power: <%= @team[:heroes][1][:power]%><br>Hero Biography: <%= @team[:heroes][1][:biography]%></p>

    <h2>Hero Name: <%= @team[:heroes][2][:name]%></h2>
    <p>Hero Power: <%= @team[:heroes][2][:power]%><br>Hero Biography: <%= @team[:heroes][2][:biography]%></p>
    
  </body>
</html>



