<h1>Team</h1>
  <div class = "team">
    <h2> Team Name: <%= @team.name %></h2><br>
    <h2> Team Motto: <%= @team.motto %></h2><br>
  </div><br>

<h2>Hero 1</h2>
  <div class = "hero-one">
    <h3> Hero Name: <%= @heroes[0].name %></h3><br>
    <h3> Hero Power: <%= @heroes[0].power %></h3><br>
    <h3> Hero Biography: <%= @heroes[0].biography %></h3><br>
  </div><br>

  <h2>Hero 2</h2>
    <div class = "hero-two">
      <h3> Hero Name: <%= @heroes[1].name %></h3><br>
      <h3> Hero Power: <%= @heroes[1].power %></h3><br>
      <h3> Hero Biography: <%= @heroes[1].biography %></h3><br>
    </div><br>

    <h2>Hero 3</h2>
      <div class = "hero-three">
        <h3> Hero Name: <%= @heroes[2].name %></h3><br>
        <h3> Hero Power: <%= @heroes[2].power %></h3><br>
        <h3> Hero Biography: <%= @heroes[2].biography %></h3><br>
      </div><br>
