<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team</title>
</head>
<body>
<h1>Team <%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>
<ul>
  <% @team.members.each do |member| %>
    <li><strong>Hero&nbsp;Name:&nbsp;<%= member.name %></strong> &emsp;
    Hero&nbsp;Power:&nbsp;<%= member.power %>. &emsp;
    Hero&nbsp;Biography:&nbsp;<%= member.bio %>.</li><br>
  <% end %>
</ul>
  
</body>
</html>