<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SuperHeroes Team</title>
</head>
<body>
  <h1><%= @team_name %></h1>
  <h2>Team Motto: <%= @team_motto %></h2>
  <% @members.each do |member| %>
  <h3>Hero Name: <%= member.name %></h3>
  <h4>Hero power: <%= member.power %></h4>
  <h4>Hero biography: <%= member.bio %></h4>
  <% end %>
</body>
</html>


