<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %>!</h2>

<h3>Hero Name: <%= @superheroes[0].name %></h3>
Hero Power: <%= @superheroes[0].power %><br>
Hero Biography: <%= @superheroes[0].bio %><br>

<h3>Hero Name: <%= @superheroes[1].name %></h3>
Hero Power: <%= @superheroes[1].power %><br>
Hero Biography: <%= @superheroes[1].bio %><br>

<h3>Hero Name: <%= @superheroes[2].name %></h3>
Hero Power: <%= @superheroes[2].power %><br>
Hero Biography: <%= @superheroes[2].bio %><br>
