<h1><%= @team.name %></h1>
<h2><%= @team.motto %></h2>
<h2>Hero Name: <%= @members[0].name %></h2>
<p>Hero Power: <%= @members[0].power %>
<br>Hero Biography: <%= @members[0].bio %></p>

<h2>Hero Name: <%= @members[1].name %></h2>
<p>Hero Power: <%= @members[1].power %>
<br>Hero Biography: <%= @members[1].bio %></p>

<h2>Hero Name: <%= @members[3].name %></h2>
<p>Hero Power: <%= @members[3].power %>
<br>Hero Biography: <%= @members[3].bio %></p>