<h1>Team <%= @team.name %>: </h1>
<h2>Team Motto: <%= @team.motto %></h2>

<% @team.members.each do |hero| %>
	<b>Hero Name: </b><%= hero.name %> <br> 
	<b>Hero Power: </b><%= hero.power %> <br>
	<b>Hero Biography: </b><%= hero.bio %> <br><br>
<% end %>