<h1><%= @team.name %></h1>
<h3>Team Motto: <%= @team.motto %></h3>

<h1>Hero Name: <%= @heros[0].name %></h1>
<p>Hero Power: <%= @heros[0].power %>
<br>Hero Bio: <%= @heros[0].bio %></p>

<h1>Hero Name: <%= @heros[1].name %></h1>
<p>Hero Power: <%= @heros[1].power %>
<br>Hero Bio: <%= @heros[1].bio %></p>

<h1>Hero Name: <%= @heros[2].name %></h1>
<p>Hero Power: <%= @heros[2].power %>
<br>Hero Bio: <%= @heros[2].bio %></p>