<h1> Team <%=@team_name%> </h1>

<h4> Team Motto: <%=@team_motto%></h3>

  <h3>Hero 1</h3>
    <h4>Hero Name: <%=@member1_name%></h3>
    <h4>Hero Power: <%=@member1_power%></h3>
    <h4>Hero Biography: <%=@member1_bio%></h3>

  <h3>Hero 2</h3>
    <h4>Hero Name: <%=@member2_name%></h3>
    <h4>Hero Power: <%=@member2_power%></h3>
    <h4>Hero Biography: <%=@member2_bio%></h3>

  <h3>Hero 3</h3>
    <h4>Hero Name: <%=@member3_name%></h3>
    <h4>Hero Power: <%=@member3_power%></h3>
    <h4>Hero Biography: <%=@member3_bio%></h3>
