<!DOCTYPE html>
<html>
  <body>
    <h1>Your Teams!</h1>
      <p>Team Name:  <%= params[:team][:name] %></p>
      <p>Team Motto: <%= params[:team][:motto] %></p>

      <% params[:team][:hero].each do |t| %>
        <h2>Team Heroes</h2>
          <p>Hero Name: <%= t[:name] %>
          <p>Hero Power: <%= t[:power] %>
          <p>Hero Biography: <%= t[:bio] %>
      <% end %>
  </body>
</html>
