<h1><%= @team.name %></h1>
<h2><%= @team.motto %></h2>
<h2>Hero Name: <%= @heroes[0].name %></h2>
<p>Hero Power: <%= @heroes[0].power %>
<br>Hero Biography: <%= @heroes[0].bio %></p>

<h2>Hero Name: <%= @heroes[1].name %></h2>
<p>Hero Power: <%= @heroes[1].power %>
<br>Hero Biography: <%= @heroes[1].bio %></p>

<h2>Hero Name: <%= @heroes[3].name %></h2>
<p>Hero Power: <%= @heroes[3].power %>
<br>Hero Biography: <%= @heroes[3].bio %></p>