<h1>Team Name: <%= team[name] %></h1>
<h1>Team Motto: <%= team[motto] %>!</h1>

<h3>Name: <%= @member1_name %></h3>
<h4>Weight: <%= @member1_power %></h4>
<h5>Height: <%= @member1_bio %></h5>

<h3>Name: <%= @member2_name %></h3>
<h4>Weight: <%= @member2_power %></h4>
<h5>Height: <%= @member2_bio %></h5>

<h3>Name: <%= @member2_name %></h3>
<h4>Weight: <%= @member2_power %></h4>
<h5>Height: <%= @member2_bio %></h5>
