<h1><%= @team[:name] %></h1>

Team Motto: <h2><%= @team[:motto] %></h2>

Hero Name: <h2><%= @members[0].name %></h2>
Hero Power: <%= @members[0].power %><br>
Hero Biography: <%= @members[0].bio %>

Hero Name: <h2><%= @members[1].name %></h2>
Hero Power: <%= @members[1].power %><br>
Hero Biography: <%= @members[1].bio %>

Hero Name: <h2><%= @members[2].name %></h2>
Hero Power: <%= @members[2].power %><br>
Hero Biography: <%= @members[2].bio %>
