<h1>Team Name:</h1><%= @team_name %>
<h2>Team Motto:</h2><%= @team_motto %><br>

<h1>Heroes</h1>
<% @team_members.each do |hero| %><br>
  <h2>Hero Name: </h2><%= @hero_name %><br>
  <h2>Hero Power: </h2><%= @hero_power %><br>
  <h2>Hero Biography: </h2><%= @hero_bio %><br>

  <% end %>
