<!DOCTYPE html>
<html>
<body>
<h1> <%=@team.name%></h1>

<h2>Team Motto: <%=@team.motto%></h2>

<h2>Hero Name: <%=@members[0].name%></h2>
  <li>Hero Power: <%=@members[0].power%></li>
  <li>Hero Biography: <%=@members[0].bio%></li>

<h2>Hero Name: <%=@members[1].name%></h2> </h2>
  <li>Hero Power: <%=@members[1].power%></li>
  <li>Hero Biography: <%=@members[1].bio%></li>

<h2>Hero Name: <%=@members[2].name%></h2> </h2>
  <li>Hero Power: <%=@members[2].power%></li>
  <li>Hero Biography: <%=@members[2].bio%></li>
</body>
</html>
