<h1><%= @team.name%></h1>


<h2>Team Motto: <%=@team.motto %></h2>

<h2>Hero Name: <%=@hero.name %></h2>

<p>Hero Power: <%=@hero.power %></p>
<p>Hero Biography: <%=@hero.bio %></p>

<% @hero.each do |element| %>
<%= @name_param.to_s @hero.name %>
<%= @power_param.to_s @hero.power%>
<%= @bio_param.to_s @hero_bio%>
<%end%>