<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>superheroes</title>
  </head>
  <body>
<h1>Team</h1>
<div class="team">
  <h3>Name: <%= @team.name %></h3>
  <h4>Motto: <%= @team.motto %></h4>
</div><br>

<h1>Members</h1>
<% @members.each do |member| %>
<div class="member">
  <p>Name: <%= member.name %></p><br>
  <p>Power: <%= member.power %></p><br>
  <p>Bio: <%= member.bio %></p><br>
</div><br>
<% end %>
</body>
</html>
