<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>
  <body>
    <h1><%=@name%></h1>
    <h2><%='Team Motto: ' + @motto%></h2>
    <h2><%='Hero Name: ' + @member_1_name%></h2>
    <h3>
      <%='Hero Power: ' + @member_1_power%>
      </br>
      <%='Hero Biography: ' + @member_1_bio%>
    </h3>
    <h2><%='Hero Name: ' + @member_2_name%></h2>
    <h3>
      <%='Hero Power: ' + @member_2_power%>
      </br>
      <%='Hero Biography: ' + @member_2_bio%>
    </h3>
    <h2><%='Hero Name: ' + @member_3_name%></h2>
    <h3>
      <%='Hero Power: ' + @member_3_power%>
      </br>
      <%='Hero Biography: ' + @member_3_bio%>
    </h3>
  </body>
</html>



