<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Teams!</title>
</head>
<body>
  <h1><%= @team.name %></h1>
  <h3>Team Motto: <%= @team.motto %></h3>

  <h3>Hero Name: <%= @heros[0].name %></h3>
  <p>
    Hero power: <%= @heros[0].power %><br />
    Hero biography: <%= @heros[0].bio %>
  </p>

  <h3>Hero Name: <%= @heros[1].name %></h3>
  <p>
    Hero power: <%= @heros[1].power %><br />
    Hero biography: <%= @heros[1].bio %>
  </p>

  <h3>Hero Name: <%= @heros[2].name %></h3>
  <p>
    Hero power: <%= @heros[2].power %><br />
    Hero biography: <%= @heros[2].bio %>
  </p>

</body>
</html>


