<h1><%= @team.name %></h1>
<p><h2>Team Motto: <%= @team.motto %></h2></p>

<p><h2>Hero 1</h2></p>
<ul>

  <li>Hero Name: <%= @members[0].name%></li>
  <li>Hero Power: <%= @members[0].power%></li>
  <li>Hero Biography: <%= @members[0].biography%></li>
</ul>

<p><h2>Hero 2</h2></p>
<ul>
  <li>Hero Name: <%= @members[1].name%></li>
  <li>Hero Power: <%= @members[1].power%></li>
  <li>Hero Biography: <%= @members[1].biography%></li>
</ul>

<p><h2>Hero 3</h2></p>
<ul>
  <li>Hero Name: <%= @members[2].name%></li>
  <li>Hero Power: <%= @members[2].power%></li>
  <li>Hero Biography: <%= @members[2].biography%></li>
</ul>
