<html>
<header>
</header>
<body>
<h1><%=@teaminfo["name"]%></h1>
<h2>Team Motto: <%=@teaminfo["motto"]%></h2>

Hero Name: <%=@teaminfo["members"][0]["name"]%>
Hero power: <%=@teaminfo["members"][0]["power"]%>
Hero biography: <%=@teaminfo["members"][0]["bio"]%>
  
Hero Name: <%=@teaminfo["members"][1]["name"]%>
Hero power: <%=@teaminfo["members"][1]["power"]%>
Hero biography: <%=@teaminfo["members"][1]["bio"]%>

Hero Name: <%=@teaminfo["members"][2]["name"]%>
Hero power: <%=@teaminfo["members"][2]["power"]%>
Hero biography: <%=@teaminfo["members"][2]["bio"]%>
</body>
</html>


