<h1>Flatiron</h1>

<%= @team.name %>
Team Motto: <%= @team.motto %>

<h2>Hero Name: <%= @hero[0].name %></h2>

Hero power: <%= @hero[0].power %>
Hero biography: <%= @hero[0].bio %>

<h2>Hero Name: <%= @hero[1].name %></h2>

Hero power: <%= @hero[1].power %>
Hero biography: <%= @hero[1].bio %>

<h2>Hero Name: <%= @hero[2].name %></h2>

Hero power: <%= @hero[2].power %>
Hero biography: <%= @hero[2].bio %>


