
<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<% @members.each do |m| %>
<div>
<h2>Hero Name: <%= m[:name] %></h2>
<p>Hero Power: <%= m[:power] %></p>
<p>Hero Biography: <%= m[:bio] %></p>
</div>
<% end %>
