<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Superhero and Team Registry</title>
 </head>
 <body>
<div class = "team_info">
  <h1>Team <%= params[:team][:name] %></h2>
  <p><%= params[:team][:motto] %></p><br>
</div>

<div class = "super_hero_info">
  <p>Hero Name: <%= params[:team][:member][i][:name] %></p><br>
  <p>Hero Power: <%= params[:team][:member][i][:power] %></p><br>
  <p>Hero Biography: <%= params[:team][:member][i][:biography] %></p><br>
</div>




</body>
</html>
