<div class="team">
  <h1> <%= @team.name %></h1>
  <h2>Team Motto: <%= @team.motto %>!</h2>
</div>

<% @members.each do |member| %>
  <div class="course">
    <h2>Hero Name: <%= member.name %></h2>
    Hero Power: <%= member.power %><br>
    Hero Biography: <%= member.biography %>
  </div><br>
<% end %>
