<h1><%=@team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<% @members.each do |hero| %>
    <h2>Hero Name: <%=hero[:name] %></h2>    
    <li style="list-style-type:none">Hero Power: <%= hero[:power]%></li>
    <li style="list-style-type:none">Hero Biography: <%= hero[:biography]%></li>
    <p></p>
<% end %>
