<h1><%= @team_params[:name] %></h1>
<h2>Team Motto: <%= @team_params[:motto] %></h2>
<br>
<h2>Hero Name: <%= @hero_params[0][:name]%></h2>
<p>Hero Power:  <%= @hero_params[0][:power] %></p>
<p>Hero Biography:  <%= @hero_params[0][:biography] %></p>

<h2>Hero Name: <%= @hero_params[1][:name] %></h2>
<p>Hero Power:  <%= @hero_params[1][:power] %></p>
<p>Hero Biography:  <%= @hero_params[1][:biography] %></p>

<h2>Hero Name: <%= @hero_params[2][:name] %></h2>
<p>Hero Power:  <%= @hero_params[2][:power] %></p>
<p>Hero Biography:  <%= @hero_params[2][:biography] %></p>
