<h1><%= @team_name %></h1><br>
<h2>Team Motto: <%= @team_motto %></h2><br>
<h2>Hero Name: <%= @member1_name %></h2><br>
<p>Hero Power: <%= @member1_power %></p><br>
<p>Hero Biography: <%= @member1_bio %></p><br>
<h2>Hero Name: <%= @member2_name %></h2><br>
<p>Hero Power: <%= @member2_power %></p><br>
<p>Hero Biography: <%= @member2_bio %></p><br>
<h2>Hero Name: <%= @member3_name %></h2><br>
<p>Hero Power: <%= @member3_power %></p><br>
<p>Hero Biography: <%= @member3_bio %></p><br>
