<h1> <%=@team.name%> </h1>
<h2> Team Motto: <%=@team.motto%> </h2>

<%@heroes.each do |h|%>
  <h2> Hero Name: <%= h.name %> </h2>
  <p> Hero Power: <%= h.power %> </p>
  <p> Hero Biography: <%= h.bio %> </p>
<%end%>
