<!DOCTYPE html>
<html>
  <head>Teams</head>
  <body>
    <h1>Team Name: <%=@team.name %></h1>
    <h1>Team Motto: <%=@team.motto %></h1>  
    <% @heroes.each do |hero| %>
      <p>Hero Name: <%=hero.name %></p>
      <p>Hero power: <%=hero.power %></p>
      <p>Hero biography: <%= hero.bio %></p>
    <%end%>
  </body>
</html>


