
<h1>Team <%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<% @hero.each do |heroes| %>
    <h2>Hero Name: <%=heroes.name %></h2>
    <h2>Hero power: <%=heroes.power%></h2>
    <h2>Hero biography: <%=heroes.bio%></h2>
  <% end %>
