<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Superhero Team</title>
  </head>
  <body>
    <h1><%= @team.name %></h1>
    <h2>Team Motto: <%= @team.motto %></h2>

    <h2>Hero Name: <%= @superhero_1.name %></h2>
    <p>Hero Power: <%= @superhero_1.power %></p>
    <p>Hero Biography: <%= @superhero_1.bio %></p>

    <h2>Hero Name: <%= @superhero_2.name %></h2>
    <p>Hero Power: <%= @superhero_2.power %></p>
    <p>Hero Biography: <%= @superhero_2.bio %></p>

    <h2>Hero Name: <%= @superhero_3.name %></h2>
    <p>Hero Power: <%= @superhero_3.power %></p>
    <p>Hero Biography: <%= @superhero_3.bio %></p>

  </body>
</html>
