<h1><%=@team_name%></h1>

<h2>Team Motto: <%=@team_motto%></h2>

<h2>Hero Name: <%=@hero_name1%></h2>

<p>Hero Power: <%=@hero_power1%></p>
<p>Hero Biography: <%=@hero_bio1%></p>

<h2>Hero Name: <%=@hero_name2%>

<p>Hero Power: <%=@hero_power2%>
<p>Hero Biography: <%=@hero_bio2%>

<h2>Hero Name: <%=@hero_name3%>

<p>Hero Power: <%=@hero_power3%>
<p>Hero Biography: <%=@hero_bio3%>





