<!DOCTYPE html>
<html>
<head>
  <title>Your Team</title>
</head>
<body>
  <h1><%= @team_name %></h1>
  <h3>Team Motto: <%= @team_motto %></h3>
  <% @team_members.each do |member| %>
  <h4>Hero Name: <%= member[:name] %></h4>
  <p>Hero power: <%= member[:power] %></p>
  <p>Hero biography: <%= member[:biography] %></p>
  <% end %>
</body>
</html>


