<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
  </head>
  <body>

    <h1><%=@team.name</h1>
    <br>
    <h1><%=@team.motto</h1>
    <br>
    <h1><%=@member.first.name</h1>
    <p>Hero Power: <%=@member.first.power%></p>
    <p>Hero Biography: <%=@member.first.bio%></p>
    <br>
    <h1><%=@member[1].name</h1>
    <p>Hero Power: <%=@member[1].power%></p>
    <p>Hero Biography: <%=@member[1].bio%></p>
    <br>
    <h1><%=@member.last.name</h1>
    <p>Hero Power: <%=@member.last.power%></p>
    <p>Hero Biography: <%=@member.last.bio%></p>

  </body>
</html>
