<h1>Team Name and Heroes!</h1>
<p>Team Name: <%=@team_name %></p>
<p>Team Motto: <%=@team_motto %></p>

<%@superheroes.each.with_index do |info, index| %>
<p><h2>Hero Name: <%=@superhero_name[index] %></h2></p>
<p><h2>Hero Power: <%=@superhero_power[index] %></h2></p>
<p><h2>Hero Biography: <%=@superhero_bio[index] %></h2></p>
<%end%>