<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team</title>
  </head>
  <body>
    <h1><%=@team_name%></h1>
    <h3>Team Motto: <%=@team_motto%></h2>
      <% Hero.all.each do |hero_obj| %>
      <div class="container">
        
        <h3>Hero Name: <%=hero_obj.name%></h3>
        <h5>Hero Power: <%=hero_obj.power%> </h5>
        <h5>Hero Biography: <%=hero_obj.biography%> </h5>

      </div>
      <% end %>
  </body>
</html>
