
<h1>Team</h1>

<div class="team">
  <h3><%=@team_name %></h1>
  <h3>Team Motto:<%=@team_motto%></h3>

      </div><br>

<div class="hero">
  <h2>Hero Name: <%=@hero_name%></h2>
  <h2>Hero Power: <%=@hero_power%></h2>
  <h2>Hero Biography: <%=@hero_bio%></h2>

    </div><br>

    <% end %>
