<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team View</title>
  </head>
  <body>
    <h1><%= @team.name %></h1>
    <h2>Team Motto: <%= @team.motto %></h2>
    <ul>
        <li><h4>Hero Name: <%= @members[0].name %></h4></li>
        <li>Hero Power: <%= @members[0].power %></li>
        <li>Hero Biography: <%= @members[0].bio %></li>
        <li><h4>Hero Name: <%= @members[1].name %></h4></li>
        <li>Hero Power: <%= @members[1].power %></li>
        <li>Hero Biography: <%= @members[1].bio %></li>
        <li><h4>Hero Name: <%= @members[2].name %></h4></li>
        <li>Hero Power: <%= @members[2].power %></li>
        <li>Hero Biography: <%= @members[2].bio %></li>
    </ul>
  </body>
</html>
