  <div class="team">
    <h4>Team Name: <%= @team_name %></h4><br>
    <h4>Team Motto: <%= @team_motto %></h4>
  </div><br>
     
  <% @heroes.each.with_index do |hero, index| %>
    <div class="hero">
      <h4>Hero Name: <%= @hero_name[index] %></h4><br>
      <h4>Hero Power: <%= @hero_power[index] %></h4><br>
      <h4>Hero Biography: <%= @hero_bio[index] %></h4><br>
    </div><br>
  <% end %>