


<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<% Hero.all.each do |x| %>
  <h2>Hero Name: <%= x.name %></h2>
  <p>
    Hero Power: <%= x.power %>
    <br>
    Hero Biography: <%= x.bio %>
  </p>
<% end %>