<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<% @team_members.each.with_index do |hero, i| %>
  <h2>Hero Name: <%= @team_members[i][:name] %></h2>
  <p>
    Hero Power: <%= @team_members[i][:power] %>
    <br>
    Hero Biography: <%= @team_members[i][:bio] %>
  </p>
<% end %>