
<div class="team">
  <h3>Team Name: <%= @team.name %></h3><br>
  <h4>Team Motto: <%= @team.motto %></h4><br>
</div><br>


<h2>Heros</h2>
<% @heros.each do |hero| %>
  <div class="hero">
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p>
  </div><br>

<% end %>
