<h1>Team <%=@team[:name]%>!</h1>

<h2><b>Name: <%=@team[:name]%></b></h2>
<h3>Motto: <%=@team[:motto]%></h3>

<h3><u>Members:</u></h3>
Name: <%=@hero[0][:name]%>
Power: <%=@hero[0][:power]%>
Biography: <%=@hero[0][:bio]%>

Name: <%=@hero[1][:name]%>
Power: <%=@hero[1][:power]%>
Biography: <%=@hero[1][:bio]%>

Name: <%=@hero[2][:name]%>
Power: <%=@hero[2][:power]%>
Biography: <%=@hero[2][:bio]%>