<!DOCTYPE HTML>
<html>
  <head>
    <title>Create your superhero team!</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action = '/team' method = 'post'>
      <label for="team[name]">Team Name: </label>
      <input id="team[name]" type="text" name="team[name]"><br>
      <label for="team[motto]">Team Motto: </label>
      <input id="team[motto]" type="text" name="team[motto]"><br>
      <% (1..3).each do |i| %>
        <h2>Hero <%= i %></h2>
        <label for = "member<%= i%>_name">Hero's Name:</label>
        <input id= "member<%= i%>_name" type = "text" name = "team[members][][name]"><br>
        <label for = "member<%= i%>_power">Hero's Power:</label>
        <input id= "member<%= i%>_power" type = "text" name = "team[members][][power]"><br>
        <label for = "member<%= i%>_bio">Hero's Biography:</label>
        <input id= "member<%= i%>_bio" type = "text" name = "team[members][][bio]"><br>
      <% end %>
      <input name="submit" type="submit" id="submit">
    </form>
  </body>
</html>
