<h1><%=@team.name%></h1><br><br>

<h3>Team Moto: <%=@team.motto%></h3><br><br>

<%@members.each do |member|%>
  <h3>Hero Name: <%=member.name%></h3><br><br>
  Hero Power: <%=member.power%>
  Hero Biography: <%=member.biography%>
<%end%>
