
<h1><%= @team_name %></h1>
<p><h2>Team Motto: <%= @team_motto %></h2></p>


<% @team_member.each.with_index do |hero, index| %>
  <h2>Hero Name: <%= @hero_name[index] %></h2>
  <p>
    Hero Power: <%= @hero_power[index] %>
    <p>Hero Biography: <%= @hero_bio[index] %></p>
  </p>
<% end %>