<h1>Name: <%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<h2>Hero Name: <%= @super_heros[0].name %></h2>
    <p>Hero Power: <%= @super_heros[0].power %></p><br>
    <p>Hero Biography: <%= @super_heros[0].bio %></p><br>

<h2>Hero Name: <%= @super_heros[1].name %></h2>
    <p>Hero Power: <%= @super_heros[1].power %></p><br>
    <p>Hero Biography: <%= @super_heros[1].bio %></p><br>

<h2>Hero Name: <%= @super_heros[2].name %></h2>
    <p>Hero Power: <%= @super_heros[2].power %></p><br>
    <p>Hero Biography: <%= @super_heros[2].bio %></p><br>
