<!DOCTYPE html>
<html>
  <head>
    <title>New Team</title>
  </head>
  <body>
    <h1><%=params[:team][:name]%></h1>
    <h2>Team Motto: <%=params[:team][:motto]%></h2>
    <%params[:team][:heroes].each_with_index do |hero_data, index|%>
      <h2><%="Hero #{index+1}"%></h2>
      <p>Hero Name: <%=hero_data[:name]%></p>
      <p>Hero Power: <%=hero_data[:power]%></p>
      <p>Hero Biography: <%=hero_data[:biography]%></p>
    <%end%>
  </body>
</html>
