<!DOCTYPE html>
<html>
<body>
  <h1><%=params[:team_name]%></h1>
  <h2>Team Motto: <%=params[:team_motto]%></h2>
  <% params[:heroes].each do |hero| %>
    <h2>Hero Name: <%= hero[:name] %></h2>
    <p>Hero Power: <%= hero[:power] %></p>
    <p>Hero Biography: <%= hero[:bio] %></p>
  <% end %>
</body>
</html>
