<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>
<body>

	<h1><%=@team.name%></h1>
	
	<h3>Team Motto: <%=@team.motto%></h3>
	
	<h3>Hero Name: <%=Hero.all[-3].name%></h3>

	<p>Hero power: <%=Hero.all[-3].power%></p>
	<p>Hero biography: <%=Hero.all[-3].biography%></p>
	
	<h3>Hero Name: <%=Hero.all[-2].name%></h3>

	<p>Hero power: <%=Hero.all[-2].power%></p>
	<p>Hero biography: <%=Hero.all[-2].biography%></p>
	
	<h3>Hero Name: <%=Hero.all[-1].name%></h3>

	<p>Hero power: <%=Hero.all[-1].power%></p>
	<p>Hero biography: <%=Hero.all[-1].biography%></p>



</body>


</html>