<h1>Team <%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<h2>Heros!</h2>
<% @team_heros.each.with_index do |hero, i| %>
  <p>Hero Name: <%= @hero_name[i] %></p>
  <p>Hero Power: <%= @hero_power[i] %></p>
  <p>Hero Biography: <%= @hero_bio[i] %></p>
<% end %>
