
<h2>Team <%= @team.name %></h2>
<h3>Team Motto: <%= @team.motto %></h3>

<% @members.each do |hero| %>

  <h2>Hero Name: <%= hero.name %></h2>
  <h3>Hero power: <%= hero.power %></h3>
  <h3>Hero biography: <%= hero.bio %></h3>

<% end %>