<ul>
<li>Team Name: <%= @team.name %></li>
<li>Team Motto: <%= @team.motto %></li>
</ul>

<ul>
<li>Hero Name: <%=@heros[0].name %></li>
<li>Hero Power: <%=@heros[0].power %></li>
<li>Hero Biography: <%=@heros[0].bio %></li>
</ul>

<ul>
<li>Hero Name: <%=@heros[1].name %></li>
<li>Hero Power: <%=@heros[1].power %></li>
<li>Hero Biography: <%=@heros[1].bio %></li>
</ul>

<ul>
<li>Hero Name: <%=@heros[2].name %></li>
<li>Hero Power: <%=@heros[2].power %></li>
<li>Hero Biography: <%=@heros[2].bio %></li>
</ul>

