<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Superhero Generator</title>
</head>
<body>
<h1>New Superhero Team Created</h1>

<h4>Team <%=@team.name%>
  Team Motto: <%=@team.motto%>
  Hero Name: <%=@superheroes[0].name%> Hero power: <%=@superheroes[0].power%> Hero biography: <%=@superheroes[0].bio%>
  Hero Name: <%=@superheroes[1].name%> Hero power: <%=@superheroes[1].power%> Hero biography: <%=@superheroes[1].bio%>
  Hero Name: <%=@superheroes[2].name%> Hero power: <%=@superheroes[2].power%> Hero biography: <%=@superheroes[2].bio%></h4>

</body>
</html>


