<h3>Team <%=@team_values.name %></h3>
<h3>Team Motto: <%=@team_values.motto %></h3>


<% @members.each_with_index do |hero, index| %>
<h3>_____________________</h3>
<h2>Hero <%=index+1%></h3>
<h3>Hero Name: <%=hero.name %> </h3>
<h3>Hero Power: <%=hero.power %> </h3>
<h3>Hero Biography: <%=hero.bio %> </h3>
<h3>Hero Name: <%=hero.name %> </h3>
<h3>_____________________</h3>
<% end %>
