<h1>Team Name: <%=@team_name%></h1>
<h2>Team Motto: <%=@team_motto%></h2>

<br>

<%@team_members.each do |member|%>
  <h3>Hero Name: <%=member["name"]%></h3>
  <h3>Hero power: <%=member["power"]%></h3>
  <h3>Hero biography: <%=member["bio"]%></h3>
  <br>
<%end%>

