<h2>Team: <%= @team_name %></h2>
<h2>Team Motto: <%= @team_motto %></h2>

<h2>Team Member Info:</h2>

<ul>
<% @team_members.each do |m| %>
  <li>Hero Name: <%= m["name"] %></li>
  <li>Hero Power: <%= m["power"] %></li>
  <li>Hero Biography: <%= m["bio"] %></li>
  <% end %>
</ul>
