<h1>Team Name:</h1> <%= @team.name %>
<h2>Team Motto:</h2> <%= @team.motto %>

<h1>Heroes</h1>
<%@superheroes.each do |heroes|%>
<p> Heroes name:<%=heroes.name%></p>
<p> Heroes power :<%=heroes.power%></p>
<p> Heroes bio:<%=heroes.bio%></p>
<% end %>
