<h1><%=params[:team][:name]%></h1>
<h2>Team Motto: <%=params[:team][:motto]%></h2>
<%params[:team][:heroes].each_with_index do |hero_data, index|%>

  <p>Hero Name: <%=hero_data[:name]%></p>
  <p>Hero Power: <%=hero_data[:power]%></p>
  <p>Hero Biography: <%=hero_data[:bio]%></p>
<%end%>




expect(page).to have_text("Team Ruby")
expect(page).to have_text("Team Motto: We love Ruby!")
expect(page).to have_text("Hero Name: Amanda")
expect(page).to have_text("Hero Power: Ruby")
expect(page).to have_text("Hero Biography: I love Ruby!")
expect(page).to have_text("Hero Name: Arel")
expect(page).to have_text("Hero Power: JavaScript")
expect(page).to have_text("Hero Biography: I love JavaScript!")
expect(page).to have_text("Hero Name: Katie")
expect(page).to have_text("Hero Power: Sinatra")
expect(page).to have_text("Hero Biography: I love Sinatra!")
