<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<% @members.each do |member| %>
  Hero Name: <h3><%= member.name %></h3>
  Hero Power: <h3><%= member.power %></h3>
  Hero Biography: <h3><%= member.bio %></h3>
<% end %>
