
<!DOCTYPE html>
<html>

  <h1>Team</h1>
  <h2>Team Name: <%= @team.name %></h2>
  <h2>Team Motto: <%= @team.motto %></h2>

  <h2>Hero 1</h2>
  <h2>Hero Name: <%= @heroes[0].name %></h2>
  <h2>Hero Power: <%= @heroes[0].power %></h2>
  <h2>Hero Biography: <%= @heroes[0].bio %></h2>

  <h2>Hero 2</h2>
  <h2>Hero Name: <%= @heroes[1].name %></h2>
  <h2>Hero Power: <%= @heroes[1].power %></h2>
  <h2>Hero Biography: <%= @heroes[1].bio %></h2>

  <h2>Hero 3</h2>
  <h2>Hero Name: <%= @heroes[2].name %></h2>
  <h2>Hero Power: <%= @heroes[2].power %></h2>
  <h2>Hero Biography: <%= @heroes[2].bio %></h2>

</html>
