
<h1>Student</h1>

  <h3> Team Name: <%= @team.name %></h3><br>
  <h4>Team Motto: <%= @team.motto %></h4>
</div><br>

<h1>Members</h1>
<% @members.each do |member| %>
  <div class="hero">
    <p>Hero Name: <%= member.name %></p><br>
    <p>Hero Power: <%= member.power %></p><br>
    <p>Hero Biography: <%= member.bio %></p><br>
  </div><br>
<% end %>
