<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1> <%= @team['team']['name'] %> </h1>
    <h2> Team Motto: <%= @team['team']['motto'] %> </h2>

    <h2>Hero Name: <%= @team['team']['heros'][0]['name'] %> </h2>
    <h5>Hero Power: <%= @team['team']['heros'][0]['power'] %> </h2> </h5>
    <h5>Hero Biography: <%= @team['team']['heros'][0]['biography'] %> </h2> </h5>

    <h2>Hero Name: <%= @team['team']['heros'][1]['name'] %> </h2>
    <h5>Hero Power: <%= @team['team']['heros'][1]['power'] %> </h2> </h5>
    <h5>Hero Biography: <%= @team['team']['heros'][1]['biography'] %> </h2> </h5>

    <h2>Hero Name: <%= @team['team']['heros'][2]['name'] %> </h2>
    <h5>Hero Power: <%= @team['team']['heros'][2]['power'] %> </h2> </h5>
    <h5>Hero Biography: <%= @team['team']['heros'][2]['biography'] %> </h2> </h5>


  </body>
</html>
