<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><%= @team.name %></h1>
  <h2>Team Motto: <%= @team.motto %></h2>
  <br>
  <% @members.each do |hero| %>
  <h2>Hero Name: <%= hero.name %><h2>
  Hero power: <%= hero.power %>
  Hero biography: <%= hero.bio %>
  <% end %>
</body>
</html>