<h1>Team Name:</h1><%= @team_name %>
<h2>Team Motto:</h2><%= @team_motto %><br>

<h1>Heroes</h1>
<% @team_members.each_with_index do |hero, index| %><br>
  <h2>Hero Name: </h2><%= @hero_name[index] %><<br>
  <h2>Hero Power: </h2><%= @hero_power[index] %><br>
  <h2>Hero Biography: </h2><%= @hero_bio[index] %><br>

  <% end %>
