

<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %>!</h2>

  <h2> Hero Name: <%= @members[0].name%> </h2>
  <h3> Hero Power: <%= @members[0].power %> </h3>
  <h3> Hero Biography: <%= @members[0].bio %> </h3>

  <h2> Hero Name: <%= @members[1].name%> </h2>
  <h3> Hero Power: <%= @members[1].power %> </h3>
  <h3> Hero Biography: <%= @members[1].bio %> </h3>
  
  <h2> Hero Name: <%= @members[2].name%> </h2>
  <h3> Hero Power: <%= @members[2].power %> </h3>
  <h3> Hero Biography: <%= @members[2].bio %> </h3>




