<h1><%= @team.values[0] %></h1>
<h1>Team Motto: <%= @team.values[1] %></h1>

<h3>Hero Name: <%= @member1[0] %></h3>
<h3>Hero power: <%= @member1[1] %></h3>
<h3>Hero biography: <%= @member1[2] %></h3>

<h3>Hero Name: <%= @member2[0] %></h3>
<h3>Hero power: <%= @member2[1] %></h3>
<h3>Hero biography: <%= @member2[2] %></h3>

<h3>Hero Name: <%= @member3[0] %></h3>
<h3>Hero power: <%= @member3[1] %></h3>
<h3>Hero biography: <%= @member3[2] %></h3>
