<div class="team">
 <h2>Team Name: <%= @team.name %></h2>
 <h3>Team Motto: <%= @team.motto %></h3>
</div><br>


  <div class="super_hero">
  <!-- make sure to iterate your @super_hero variable to display each attribute -->
  <% @super_hero.each do |hero| %>
  <h3>Hero Name: <%= hero.name %></h3>
  <h4>Hero Power: <%= hero.power %></h4>
  <h4>Hero Biography: <%= hero.biography %></h4>
  <% end %>

<div class="super_hero">
  <% @super_hero.each do |hero| %>
  <h3>Hero Name: <%= hero.name %></h3>
  <h4>Hero Power: <%= hero.power %></h4>
  <h4>Hero Biography: <%= hero.biography %></h4>
  <% end %>
 </div>

 <div class="super_hero">
   <% @super_hero.each do |hero| %>
   <h3>Hero Name: <%= hero.name %></h3>
   <h4>Hero Power: <%= hero.power %></h4>
   <h4>Hero Biography: <%= hero.biography %></h4>
   <% end %>
  </div>
