<h1>Team <%=@team_name%></h1>
<h1>Team Motto: <%=@team_motto%></h1>

<h1>Hero Name: <%=@hero1_name%></h1>
<h1>Hero Power: <%=@hero1_power%></h1>
<h1>Hero Biography: <%=@hero1_bio%></h1>

<h1>Hero Name: <%=@hero2_name%></h1>
<h1>Hero Power: <%=@hero2_power%></h1>
<h1>Hero Biography: <%=@hero2_bio%></h1>

<h1>Hero Name: <%=@hero3_name%></h1>
<h1>Hero Power: <%=@hero3_power%></h1>
<h1>Hero Biography: <%=@hero3_bio%></h1>
