


<h1>Display your Team and Super Heores here</h1>

<h2>Team Name: <%=@hero_team.name%> <h2>
<h2>Team Motto: <%=@hero_team.motto%> <h2>

<h2>Hero 1</h2>
<h3>Hero Name: <%=@hero_team.heroes[0].name%> <h3>
<h3>Hero Power: <%=@hero_team.heroes[0].power%> <h3>
<h3>Hero Biography: <%=@hero_team.heroes[0].bio%> <h3>

<h2>Hero 2</h2>
<h3>Hero Name: <%=@hero_team.heroes[1].name%> <h3>
<h3>Hero Power: <%=@hero_team.heroes[1].power%> <h3>
<h3>Hero Biography: <%=@hero_team.heroes[1].bio%> <h3>

<h2>Hero 3</h2>
<h3>Hero Name: <%=@hero_team.heroes[2].name%> <h3>
<h3>Hero Power: <%=@hero_team.heroes[2].power%> <h3>
<h3>Hero Biography: <%=@hero_team.heroes[2].bio%> <h3>
