<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Superhero and Team Registry</title>
 </head>
 <body>
<div class = "team_info">
  <h1>Team <%= params[:team][:name] %></h2>
  <p>Team Motto: <%= params[:team][:motto] %></p><br>
</div>

<% i = 0 %>
<% while i < params[:team][:members].length %>
  <div class = "super_hero_info">
    <p>Hero Name: <%= params[:team][:members][i][:name] %></p><br>
    <p>Hero Power: <%= params[:team][:members][i][:power] %></p><br>
    <p>Hero Biography: <%= params[:team][:members][i][:biography] %></p><br>
  </div>
  <% i += 1 %>
<% end %>

</body>
</html>
