<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<% @heroes.each do |details| %>
  <h2>Hero Name: <%= details[:name] %></h2>
  <p>Hero power: <%= details[:power] %></p>
  <p>Hero biography: <%= details[:biography] %></p>
<% end %>


