<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Team Name: <%= @team.name %></h1>
  <h1>Team Motto: <%= @team.motto %></h1>
  <% @heroes.each do |hero| %>
    <h3>Hero Name: <%= hero.name %></h3>
    <h3>Hero Power: <%= hero.power %></h3>
    <h3>Hero Biography: <%= hero.bio %></h3>
  <% end %>
</body>
</html>
