<h1>Team</h1>
Team Name: <%=@team.name%>
<br>
Team Motto: <%=@team.motto%>

<h1>Heros</h1>
<div class="hero">
  <%@heros.each do |hero|%>
  Name:<%=@hero.name%>
  Power:<%=@hero.power%>
  Bio:<%=@hero.bio%>
</div>
  <%end%>
<br>
