<!DOCTYPE html>
<html>
    <head>
        <title>Show Team and Heroes Page</title>
    </head>
    <body>
      <h1><%= @team.name %></h1>
      <h2>Team Motto: <%= @team.motto %></h2>

      <% @members.each do |hero| %>
        <div class="hero">
          <h2>Hero Name: <%= hero.name %></h2>
          Hero Power: <%= hero.power %><br>
          Hero Biography: <%= hero.bio %><br>
        </div>
      <% end %>

    </body>
</html>
