<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Superhero Team</title>
  </head>
  <body>
    <h1><%= @team.name %></h1>
    <h2>Team Motto: <%= @team.motto %></h2>
    <h2>Hero Name: <%= @member_1.name %></h2>
    <p>Hero Power: <%= @member_1.power %></p>
    <p>Hero Biography: <%= @member_1.bio %></p>

    <h2>Hero Name: <%= @member_2.name %></h2>

    <p>Hero Power: <%= @member_2.power %></p>
    <p>Hero Biography: <%= @member_2.bio %></p>

    <h2>Hero Name: <%= @member_3.name %></h2>
  
    <p>Hero Power: <%= @member_3.power %></p>
    <p>Hero Biography: <%= @member_3.bio %></p>
  </body>
</html>
