<h1>Display super_hero Team</h1>
  <h1><%=@team.name%></h1>
  <h2><%=@team.motto%></h2>


<h1>Display each Super_Hero Information</h1>

<h1><%=@hero.name%></h1>
<br>
<br>
<h3><%=@hero.power%></h3>
<h3><%=@hero.bio%></h3>
