<h1><%= @team[:team][:name] %></h1>
<h2>Team Motto: <%= @team[:team][:motto] %></h2>

<h2>Hero 1</h2>
Hero Name: <%= @team[:team][:heroes][0][:name] %><br>
Hero power: <%= @team[:team][:heroes][0][:power] %><br>
Hero biography: <%= @team[:team][:heroes][0][:bio] %>

<h2>Hero 2</h2>
Hero Name: <%= @team[:team][:heroes][1][:name] %><br>
Hero power: <%= @team[:team][:heroes][1][:power] %><br>
Hero biography: <%= @team[:team][:heroes][1][:bio] %>

<h2>Hero 3</h2>
Hero Name: <%= @team[:team][:heroes][2][:name] %><br>
Hero power: <%= @team[:team][:heroes][2][:power] %><br>
Hero biography: <%= @team[:team][:heroes][2][:bio] %>