<!DOCTYPE html>
<html>
<body>
  <h1><%= @team_name %></h1>
  <h3>Team Motto: <%= @team_motto %></h3>
  <% @members.each do |person| %>
    <h2>Hero Name: <%= person[:name] %></h2>
    <p>Hero Power: <%= person[:power] %></p>
    <p>Hero Biography: <%= person[:bio] %></p>
  <% end %>
</body>
</html>
