<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto%></h2>

<% @heroes.each.with_index do |hero, i| %>
  <h2>Hero Name: <%= @hero_name[i] %>
    Hero power: <%= @hero_power[i] %>
    Hero biography: <%= @hero_bio[i] %></h2>

<% end %>
