#very smell. please refactor.
<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>
<h1>Hero Name: <%= @members[0].name %>
Hero Power: <%= @members[0].power %><br>
Hero Biography: <%= @members[0].bio %>
<h1>Hero Name: <%= @members[1].name %>
Hero Power: <%= @members[1].power %><br>
Hero Biography: <%= @members[1].bio %>
<h1>Hero Name: <%= @members[2].name %>
Hero Power: <%= @members[2].power %><br>
Hero Biography: <%= @members[2].bio %>
