<h1><%= @team.name %></h1><br>
<h3>Team Motto: <%= @team.motto %></h3><br>


<% @superheroes.each do |superhero| %>
  <div class="superheroes">
    <h3>Hero Name: <%= superhero.name %></h3><br>
    <h5>Hero Power: <%= superhero.power %></h5><br>
    <h5>Hero Biography: <%= superhero.biography %></h5><br>
  </div><br>
<% end %>