

<h1><%=params[:team][:name]%></h1>
<h2>Team Motto: <%=params[:team][:motto]%></h2>

<%params[:team][:hero].each do|hero|%>
    <h2> Hero Name: <%=hero[:name]%></h2>
    <h4> Hero Power: <%=hero[:power]%></h4>
    <h4>Hero Biography: <%=hero[:bio]%></h4>
    <%end%>
