<h1>Team <%=@team.name%></h1>
<h1>Team Motto: <%=@team.motto%></h1>
<h2>Hero Name: <%=Member.all.first.name%></h2>
<h2>Hero Power: <%=Member.all.first.power%></h2>
<h2>Hero Biography: <%=Member.all.first.bio%></h2>
<h2>Hero Name: <%=Member.all[1].name%></h2>
<h2>Hero Power: <%=Member.all[1].power%></h2>
<h2>Hero Biography: <%=Member.all[1].bio%></h2>
<h2>Hero Name: <%=Member.all[2].name%></h2>
<h2>Hero Power: <%=Member.all[2].power%></h2>
<h2>Hero Biography: <%=Member.all[2].bio%></h2>
