<h1>Team <%=@params[:team][:name]%></h1>

<h2>Team Motto: <%=@params[:team][:motto]%></h2>

<h3>Hero Name: <%=@superheroes[0].name %></h3>
<h4>Hero Power: <%=@superheroes[0].power %></h4>
<h4>Hero Biography: <%=@superheroes[0].bio %></h4>

<h3>Hero Name: <%=@superheroes[1].name %></h3>
<h4>Hero Power: <%=@superheroes[1].power %></h4>
<h4>Hero Biography: <%=@superheroes[1].bio %></h4>

<h3>Hero Name: <%=@superheroes[2].name %></h3>
<h4>Hero Power: <%=@superheroes[2].power %></h4>
<h4>Hero Biography: <%=@superheroes[2].bio %></h4>
