<h1><%=@team.name %></h1>

<h2><%=@motto_param + @team.motto %></h2>

<% @team_members.map do |hero|%>

<%= @name_param + hero.name %>
<%= @power_param + hero.power%>
<%= @bio_param + hero.bio%>

<%end%>