<h1><%=@team_name%></h1>

<h2>Team Motto:  <%=@team_motto%></h2>

<% @member_names.each.with_index do |member_name, i| %>
  <h2>Hero Name: <%= @member_names[i]%></h2>
    <p>Hero Power: <%= @member_powers[i]%>
      <br>
      Hero Biography: <%= @member_bios[i]%>
    </p>
  <% end %>
<p>
