<h1>Team <%= @team.name %>: </h1>
<h2>Team Motto: <%= @team.motto %></h2>

<% @team.super_heros.each do |hero| %>
	<h3>Hero Name: <%= hero.name %></h3> <br> 
	<h3>Hero Power: <%= hero.power %></h3> <br>
	<h3>Hero Biography: <%= hero.bio %></h3> <br><br>
<% end %>


