<h1><%= @team.name %></h1>

<h2>Team Motto: <%=@team.motto%></h2>

<% @heroes.each do |hero| %>
  <div class="hero">
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.biography %></p><br><br>
  </div><br>
<% end %>
