<h1> <%= @team.name %></h1>
<h2> Team Motto: <%= @team.motto %></h2>
<ul> 
  <% @heros.each do |hero| %>
    <h2>Hero Name: <%= hero.name %> </h2>
    <li>Hero Power: <%=hero.power %></li>
    <li>Hero Biography: <%= hero.biography %></li>
    <% end %>
</ul>

