<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<h2>Hero Name: <%= @h1_name %></h2>
<p>Hero Power:
  <%= @h1_power %>
    <br> Hero Biography:
    <%= @h1_bio %>
</p>

<h2>Hero Name: <%= @h2_name %></h2>
<p>Hero Power:
  <%= @h2_power %>
    <br> Hero Biography:
    <%= @h2_bio %>
</p>

<h2>Hero Name: <%= @h3_name %></h2>
<p>Hero Power:
  <%= @h3_power %>
    <br> Hero Biography:
    <%= @h3_bio %>
</p>
