<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<h2>Hero Name: <%= @all_heros[0].name %></h2>
<p>
  Hero Power: <%= @all_heros[0].power %>
  <br />
  Hero Biography: <%= @all_heros[0].bio %>
</p>

<h2>Hero Name: <%= @all_heros[1].name %></h2>
<p>
  Hero Power: <%= @all_heros[1].power %>
  <br />
  Hero Biography: <%= @all_heros[1].bio %>
</p>

<h2>Hero Name: <%= @all_heros[2].name %></h2>
<p>
  Hero Power: <%= @all_heros[2].power %>
  <br />
  Hero Biography: <%= @all_heros[2].bio %>
</p>
