<h1><%= @team["team"]["name"] %></h1>

<h2>Team Motto: <%= @team["team"]["motto"] %></h2>

<ul>
  <% @team["team"]["heroes"].each do |hero| %>
    <h3>Hero Name: <%= hero[:name] %></h3>
    <li>Hero Power: <%= hero[:power] %></li>
    <li>Hero Biography: <%= hero[:bio] %></li>
    <% end %>
</ul>
