<!DOCTYPE html>
<html>
  <head>
    <title><%= @team.name %></title>
  </head>

  <body>
    <h1><%= @team.name %></h1>

    <h2>Team Motto: <%= @team.motto %></h2>

    <% @heroes.each do |hero| %>
      <h3>Hero Name: <%= hero.name %></h3>
      Hero Power: <%= hero.power %><br>
      Hero Biography: <%= hero.bio %><br>
    <% end %>

  </body>
</html>
