


  <p>Team Name: <%=@team.name %> </p>
  <p>Team Motto: <%=@team.motto %> </p>
  <h2>Hero 1</h2>
  <p>Hero Name: <%=@hero1.name %> </p>
  <p>Hero power: <%=@hero1.power %> </p>
  <p>Hero biography: <%=@hero1.biography %> </p>
  <h2>Hero 2</h2>
  <p>Hero Name: <%=@hero2.name %> </p>
  <p>Hero power: <%=@hero2.power %> </p>
  <p>Hero biography: <%=@hero2.biography %> </p>
  <h2>Hero 3</h2>
  <p>Hero Name: <%=@hero3.name %> </p>
  <p>Hero power: <%=@hero3.power %> </p>
  <p>Hero biography: <%=@hero3.biography %> </p>
