<!DOCTYPE html>
<html>
<head>
	<title>Show Team and Heroes</title>
</head>
<body>
	<div class="team">
		<h1><%= @name %></h1>
		<h2>Team Motto: <%= @motto %></h2>
	</div>

	

	<div class="heroes">
		<h2>Hero Name: <%= @member1_name%></h2><br>
		<h3>Hero power: <%= @member1_power %></h3>
		<h3>Hero biography: <%= @member1_bio %></h3>
		<br>
		<h2>Hero Name: <%= @member2_name%></h2><br>
		<h3>Hero power: <%= @member2_power %></h3>
		<h3>Hero biography: <%= @member2_bio %></h3>
		<br>
		<h2>Hero Name: <%= @member3_name%></h2>
		<h3>Hero power: <%= @member3_power %></h3>
		<h3>Hero biography: <%= @member3_bio %></h3>
		<br>

	

		

	</div>

</body>
</html>


