<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1><%= @team.name %></h1>
<br>
<h3>Team Motto: <%= @team.motto %></h3>

<% Member.all.each do |x| %>
<h3>Hero Name: <%= x.name %></h3>

<h5>Hero power: <%= x.power %></h5>
<h5>Hero biography: <%= x.bio %></h5><br>
<% end %>


</body>
</html>

