<h1><%=params[:team][:name]  %></h1>
<h3>Team Motto: <%=params[:team][:motto]  %> </h3>

<% params[:team][:hero].each do |hero| %>
    <h2>Hero Name: <%= hero[:name] %></h2>
    <ul>
      <li> Hero Power: <%= hero[:power]%> </li>
      <li> Hero Biography: <%= hero[:biography]%> </li>
    </ul>
<% end %>
