<h1><%= @team_name %></h1>
<br>
<h1>Team Motto: <%= @team_motto %></h1>

<% @team_members.each.with_index do |hero, index| %>
  <h2>Hero Name: <%= hero[:name] %></h2>
  <p>
    Hero Power: <%= hero[:power] %>
    <br>
    Hero Biography: <%= hero[:bio] %>
  </p>
<% end %>

