<h1>Team Name: <%= @team_name %></h1>
<h1>Team Motto: <%= @team_motto %></h1>

<% @whole_team.each.with_index do |hero, i| %>
<h3>Hero Name: <%= @hero_name[i] %></h3><br>
<h3>Hero Power: <%= @hero_power[i] %></h3><br>
<h3>Hero Biography: <%= @hero_bio[i] %></h3><br>
<% end %>
