<h1>Team</h1>
<h3>Team Name: <%= @team.name %></h3>
<h3>Team Motto: <%= @team.motto %></h3><br>

<h2>Members</h2>
<%@members.each do |m|%>
  <h3>Hero Name: <%= m.name %></h3>
  <p>Hero Power: <%= m.power %></p>
  <p>Hero Biography: <%= m.biography %></p><br>
  <% end %>
