<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Hero!</title>
  </head>
  <body>
    <h1><%= @team.name%></h1>
    <h2>Team Motto: <%= @team.motto %></h2>
    <% @super_heros.each do |s| %>
      <h2>Hero Name: <%= s.name%></h2>
      <p>Hero Power: <%= s.power%></p>
      <p>Hero Biography: <%= s.bio%></p>
    <% end %>
  </body>
</html>
