<!DOCTYPE>
<html>

<h1> <%= @team.name %> </h1>
<p> <h2> Team Motto: <%= @team.motto %> </h2> </p>
<br>
<% @heroes.each do |hero| %>
<p> <h3> Hero Name: <%= hero.name %> <h3> </p>
<p> <h4> Hero Power: <%= hero.power %> </h4> </P>
<p> <h4> Hero Biography: <%= hero.bio %> </h4> </P>
<% end %>

</hmtl>
