<h1>Team <%=@team[:name]%>!</h1>

<h2><b>Name: <%=@team[:name]%></b></h2>
<h3>Team Motto: <%=@team[:motto]%></h3>

<h3><u>Members:</u></h3>
Hero Name: <%=@hero[0][:name]%>
Hero Power: <%=@hero[0][:power]%>
Hero Biography: <%=@hero[0][:bio]%>

Hero Name: <%=@hero[1][:name]%>
Hero Power: <%=@hero[1][:power]%>
Hero Biography: <%=@hero[1][:bio]%>

Hero Name: <%=@hero[2][:name]%>
Hero Power: <%=@hero[2][:power]%>
Hero Biography: <%=@hero[2][:bio]%>