
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Teams</title>
 </head>
 <body>
  
  <h1><%="#{params["team_name"]}" %></h1>
  <h2><%="Team Motto: #{params["motto"]}" %></h2>
  <h2><%="Hero Name: #{params["team"]["members"][0]["name"]}" %></h2>
  <h2><%="Shooting Guard: #{params["sg"]}" %></h2>
  <h2><%="Small Forward: #{params["sf"]}" %></h2>
  <h2><%="Power Forward: #{params["pf"]}" %></h2>
  <h2><%="Center: #{params["c"]}" %></h2>
 </body>
</html>


