<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
	<body>
		<div class="team">
			<h1><%= @team.name %></h1>
			<h3>Team Motto: <%= @team.motto %>!</h3>
		</div>
		<br>
		<div class="hero">
			<% @heroes.each do |hero| %>
			<h4>Hero Name: <%= hero.name %></h4>
			<p>Hero power: <%= hero.power %></p>
			<p>Hero biography: <%= hero.bio %></p>
		</div>
		<% end %>
	</body>
</html>


